<extend name="Public/layout"/>
<block name='left-nav'>
        <include file="./Application/Admin/View/Public/leftnav.html" />
</block>

<block name="main">
                    <div role="tabpanel" class="fade in active" id="home">
                     
                                   <div id="canvas">
 
                                    </div>
                    </div>


</block>  
            <block name="script">
           <script src="__PUBLIC__/libs/chart/acharts_min.js"></script>
                <script type="text/javascript">
        var chart = new AChart({
          theme : AChart.Theme.SmoothBase,
          id : 'canvas',
          width : 950,
          height : 500,
          legend : null ,//不显示图例
          seriesOptions : { //设置多个序列共同的属性
            pieCfg : {
              allowPointSelect : true,
              labels : {
                distance : 40,
                label : {
                  //文本信息可以在此配置
                },
                renderer : function(value,item){ //格式化文本
                  return value + ' ' + (item.point.percent * 100).toFixed(2)  + '%';
                }
              }
            }
          },
          tooltip : {
            pointRenderer : function(point){
              return (point.percent * 100).toFixed(2)+ '%';
            }
          },
          series : [{
              type: 'pie',
              name: 'Browser share',
              data: [
                ['保密',   {$privary}],
                ['男',       {$female}],
                ['女',    {$male}],
              ]
          }]
        });
 
        chart.render();
      </script>


            </block>